
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>SurrIvan - Register</title>

		<!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
	<link type="text/css" rel="stylesheet" href="css/Main.css"/>

	<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
	<script src="js/js.js"></script>
	
	
  </head>
  <body>
    <!-- Our application root element -->
    <div id="app">
		<!--Container of everything-->
      <b-container>
		  <!--Jumbotron-->
        <b-jumbotron header="The SurrIvan Project"
                     lead="We are taking over the world."
        >
		  <p>You can choose to either register with Google Auth or with your email address</p>
		  
		  <!-- Register with Google Auth button-->
		  <b-btn variant="primary" v-on:click="addGmailAuth">Register with Google Auth</b-btn>
		<!-- Register with email button-->
		<b-btn v-b-toggle.collapse1 variant="primary" id="emailRegButton">Register with email</b-btn>
		<!--Collapsed content-->
  		<b-collapse id="collapse1" class="mt-2">
    	<b-card>
				<b-form>
					<!--Username input field-->
						<b-form-group horizontal
									  :label-cols="4"
									  description="Let us know your username"
									  label="Enter your username"
						>
						   <b-form-input text="username" v-model="newUser.name"></b-form-input>
						</b-form-group>
						<!--Password input field-->
						<b-form-group horizontal
						:label-cols="4"
						description="Please use the same password as on you bank account"
						label="Enter password"
						type="password">
						<b-form-input type="password" v-model="newUser.password"></b-form-input>
						</b-form-group>
						<!--Email input field-->
						<b-form-group horizontal
						:label-cols="4"
						description="Please use the same email as on you bank account"
						label="Enter email"
						type="email">
						<b-form-input type="email" v-model="newUser.email"></b-form-input>
						</b-form-group>
						<b-btn variant="primary" v-on:click="checkForm">Register</b-btn>
						
						</b-form>
   		 </b-card>
			</b-collapse>
			<p v-if="errors.length">
				<b>Please correct the following error(s):</b>
				<ul>
					<li v-for="error in errors">{{ error }}</li>
				</ul>
			</p>

		</b-jumbotron>
		

	
      </b-container>
    </div>

    <!-- Start running your app 
    <script>
      window.app = new Vue({
        el: "#app",
        data: {
          name: ''
        },
        computed: {
          showAlert() {
            return this.name.length > 4 ? true : false;
          }
        }
      })
    </script>

  </body>
</html>
-->




<!-- Här ligger dina gamla knappar.-->
<!--
	 <button onclick="register('IvanTest', 'Test1234', 'ivan@larsson.test')">Register</button>
<button onclick="registerWithGoogleAuth()">Register With Google Auth</button> 
-->

<!-- 
	TODO: koppla mina input fields till register funktionen
	https://vuejs.org/v2/guide/events.html

	Initialisera firebase i HTML igen (yes jag tog bort den, sorry 'bout dat')

-->